body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  background-repeat: repeat;
  font-family: 'Times New Roman';
  background-size: 1920px 800px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .logo-img {
  width: 5em;
  height: 4em;
  padding-left: 5em;
}

.navbar .container .logged-name {
  color: white;
  font-size: 1.5em;
  padding-top: 0.8em;
  padding-right: 25em;
}


.navbar .container nav {
  padding-top: 1em;
}

.navbar .container nav .nav-links {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding-right: 2em;
  cursor: pointer;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .left-col {
  width: 50%;
}

.row .left-col .main-text {
  width: 7em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4em;
  color: white;
  padding-top: 2em;
  padding-left: 1.9em;
}

.row .left-col .credentials {
  color: white;
  padding-left: 8em;
}

.row .left-col .login {
  padding-left: 8em;
  padding-top: 1em;
}

.row .left-col .login .login-btn {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: .5em;
  cursor: pointer;
  width: 8em;
  height: 2em;
}

.row .left-col .login .login-btn:hover {
  background-color: black;
  color: white;
}

.row .right-col {
  text-align: center;
  width: 50%;
  margin-top: 17em;
}

.row .right-col input {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 3em;
  border-radius: .5em;
  cursor: pointer;
  width: 8em;
  height: 2em;
}

.row .right-col input:hover {
  background-color: black;
  color: white;
}


