<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="" th:href="@{/css/index.css}">
    <title>Index</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <img  src="" th:src="@{/images/logo/logo.png}" alt="" class="logo-img">
            <div class="logged-name" sec:authorize="isAuthenticated()" th:text="${'You are logged as: '+ #authentication.name}"></div>
            <nav>
                <a th:href="@{browse/movies}" class="nav-links">All Movies</a>
                <a th:href="@{locations}" class="nav-links">Find Us</a>
            </nav>
        </div>
      </div>
    <div class="row">
        <div class="left-col">
            <div class="main-text">
                Rent your favourite movie
            </div>
            <div class="login" >
                <a sec:authorize="!isAuthenticated()" th:href="@{login}">
                    <button class="login-btn">Login</button>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="login" >
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" class="login-btn" />
                </form>
            </div>
        </div>
        <div class="right-col">

        </div>
    </div>
</body>
</html>