<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
<div class="navbar">
    <a th:href="@{index}">
        <img src="" th:src="@{/images/logo/logo.png}" alt="" class="logo">
    </a>
</div>

<div class="row">
    <div class="column-left">
        <div class="login-form">
            <p>Login</p>
            <form action="#" method="post" th:action="@{/login}">
                <input class="text-input" placeholder="Username" type="text" name="username" required>
                <input class="text-input" placeholder="Password" type="password" id="password" name="password" required>
                <input class="submit-input" type="submit" value="Login">
            </form>
        </div>
    </div>
    <div class="column-right">
        <p>Don't have an account?</p>
        <form th:action="@{/register}">
            <input type="submit" value="Register" />
        </form>
    </div>
</div>
</body>
</html>
